/* Extra */
.sg-footer-image {
    width: 85%;
}

@media (min-width: 767px) {
    #sg-footer-logo-big {
        display: block;
    }
    #sg-footer-logo-small {
        display: none;
    }
}

@media (max-width: 768px) {
    #sg-footer-logo-big {
        display: none;
    }
    #sg-footer-logo-small {
        display: block;
    }
}







/* Header Implimentation */
#stuGoHeader {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook", "Helvetica", "Arial", "Sans-serif" !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    position: relative;
    /* Main heading colour */
    background: rgb(0, 50, 94);
    padding: 1rem 0;
}

#stuGoHeaderDiv1 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

#stuGoHeaderDiv2 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    border-bottom: none;
    padding: 0;
}

#stuGoHeaderDiv3 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

#stuGoHeaderDiv4 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 66.66666667%;
    -webkit-box-flex: 1;
    flex: 1;
}

#stuGoHeaderDiv5 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: 400;
    color: #363636;
}

#stuGoHeaderDiv6 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-size: 0.875rem;
    font-weight: 400;
    color: #363636;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
}

#stuGoHeaderDiv7 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-size: 0.875rem;
    font-weight: 400;
    color: #363636;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    padding: 0 0 25px 0;
    padding-bottom: 0;
}

#stuGoHeaderDiv8 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-size: 0.875rem;
    font-weight: 400;
    color: #363636;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
}

#stuGoHeaderDiv9 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-size: 0.875rem;
    font-weight: 400;
    color: #363636;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
}

#stuGoHeaderA1 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-size: 0.875rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    float: left;
    margin-right: 10px;
    color: #752F8A;
    border-bottom: 1px solid #752F8A;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

#stuGoHeaderImg1 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-size: 0.875rem;
    font-weight: 400;
    color: #752F8A;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    height: auto;
    width: 5rem;
    max-height: 80px;
    padding-right: .625rem;
    margin-right: 1.25rem;
}

#stuGoHeaderImg2 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-size: 0.875rem;
    font-weight: 400;
    color: #752F8A;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    height: auto;
    max-height: 80px;
    width: 7.5rem;
}

.au-header__text {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-size: 0.9rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased !important;
    color: #fff;
    padding-left: 1rem;
    margin-left: 5rem;
    margin-top: 0;
    border-left: 1px solid rgb(255, 255, 255);
    border-left-color: #ffffff !important;
}


/* Header Size Implimentation */
.au-header__brand .au-header__brand-image {
    display: block;
    border-style: none;
    max-width: 64px;
    max-width: 4rem
}

.au-header__brand .au-header__brand-image+.au-header__text {
    margin-top: 16px;
    margin-top: 1rem
}

@media (min-width: 1px) {
    .au-header__brand {
        min-width: 64px;
        min-width: 4rem
    }

    .au-header__brand .au-header__brand-image {
        float: left;
        max-width: 64px;
        max-width: 4rem;
        margin-right: -64px;
        margin-right: -4rem
    }

    .au-header__brand .au-header__brand-image+.au-header__text {
        padding-left: 16px;
        padding-left: 1rem;
        margin-left: 80px;
        margin-left: 5rem;
        margin-top: 0;
        border-left: 1px solid gray
    }

    .au-header--dark .au-header__brand .au-header__brand-image+.au-header__text {
        border-left-color: #8093b2
    }
}

/* Overwrite size on small screens */
@media (max-width: 767px) {
    .au-header__brand .au-header__brand-image {
        float: left;
        max-width: 20px;
        max-width: 2.8rem !important; 
        margin-right: -64px;
        margin-right: -4rem
    }

    .au-header__brand .au-header__brand-image+.au-header__text {
        padding-left: 16px;
        padding-left: 1rem;
        margin-left: 80px;
        margin-left: 4.5em;
        margin-top: 0;
        border-left: 1px solid gray
    }

    .au-header__text {
        font-size: 0.8rem
    }
}

/* Overwrite Navigation */
.au-main-nav.au-main-nav--dark .active a {
    color: #fff;
    border-color: #002664;
    border-top-color: rgb(0, 38, 100);
    border-right-color: rgb(0, 38, 100);
    border-bottom-color: rgb(0, 38, 100);
    border-left-color: rgb(0, 38, 100);
}

@media (min-width: 768px) {
    .au-main-nav .active a {
        border-bottom: 8px solid #fff;
        border-bottom-width: 0rem;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 255, 255);
        border-bottom: 0rem solid #fff;
        border-bottom-width: 0rem;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 255, 255);
        margin-bottom: -8px;
        margin-bottom: -.5rem;
        font-weight: normal;
    }
}

.au-main-nav {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    border-bottom: 8px solid #002664;
    border-bottom-width: 0rem;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 38, 100);
    border-bottom: 0rem solid #002664;
    border-bottom-width: 0rem;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 38, 100);
    background-color: #fff;
    font-family: "GothamBook", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #313131;
}

.au-main-nav.au-main-nav--dark {
    /* Navbar side colour */
    background-color: rgb(254, 194, 49);
    border-color: #fff;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
}

.au-main-nav.au-main-nav--dark .au-main-nav__menu {
    /* Navbar container colour */
    background-color: rgb(254, 194, 49);
}


.au-main-nav.au-main-nav--dark a:hover,
.au-main-nav.au-main-nav--dark .au-main-nav__toggle:hover {
    color: #fff;
    /* Navbar item hover colour */
    background-color: rgb(216, 163, 40);
}

.au-main-nav.au-main-nav--dark .active a {
    color: #fff;
    /* Navbar item active colour */
    background-color: rgb(0, 50, 94)
}

.au-main-nav.au-main-nav--dark .active a:hover {
    /* Navbar item active hover colour */
    background-color: rgb(0, 41, 76)
}

.py-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}



/* Heading Style */
#banner {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
    background-color: #ffffff;
    padding: 30px 0;
    padding-top: 0;
    padding-bottom: 0;
}

#banner .container-fluid {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 0px !important;
    max-width: 99999px;
}

#banner .container-fluid .clearfix {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
}

#banner .container-fluid .clearfix .row {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
    margin-right: -15px;
    margin-left: -15px;
}

#banner .container-fluid .clearfix .row .col-md-12 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    padding: 0;
}

#banner .container-fluid .clearfix .row .col-md-12 .banner__section {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
}


#banner .container-fluid .clearfix .row .col-md-12 .banner__section .region .block {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased !important;
    padding: 0;
    padding-bottom: 0;
}

#banner .container-fluid .clearfix .row .col-md-12 .banner__section .region .block .content {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
}

#banner .container-fluid .clearfix .row .col-md-12 .banner__section .region .block .content div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
}

#banner .container-fluid .clearfix .row .col-md-12 .banner__section .region .block .content div .view {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #000;
    font-family: "GothamBook","Helvetica","Arial","Sans-serif" !important;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
    /* Section heading colour */
    background: #3b539b;
    padding: 3rem 0;
}

#banner .container-fluid .clearfix .row .col-md-12 .banner__section .region .block .content div .view  h1{
    line-height: 3.125rem;
    font-weight: 700;
    font-size: 2.75rem;
    color: white;
}

@media (max-width: 767px) {
    #banner .container-fluid .clearfix .row .col-md-12 .banner__section .region .block .content div .view  h1{
        line-height: 3.125rem;
        font-weight: 700;
        font-size: 2rem;
    }
}




/* Side Navigaion */
@media (min-width: 1200px) {
    .fix-sidebar-first {
        padding-right: 65px !important;
    }
}

.sidebar-first {
    padding: 0;
}

@media (min-width: 768px) {
    .au-side-nav .au-accordion__body.au-accordion--closed {
        display: block;
        height: auto;
    }
    .sidebar-first {
        margin-top: 0rem;
    }
    #banner .container-fluid .clearfix .row .col-md-12 .banner__section .region .block .content div .view {
        padding: 4rem 0;
    }
}

.au-side-nav .au-sidenav__title {
    background: whitesmoke;
    font-family: "GothamBold";
    font-weight: bold;
    color: black;
    padding: 16px;
    padding: 1rem;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.6;
}

.au-side-nav .au-link-list {
    padding: 0;
    margin: 0;
}

.au-link-list {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 4px 0;
    padding: .25rem 0;
}

.au-side-nav .au-side-nav__content>ul>li {
    border: none;
    padding: 0;
}

.au-side-nav .au-link-list li {
    margin: 0;
}

.au-side-nav .au-side-nav__content>ul>li>a {
    font-size: 1rem;
}

.au-side-nav a {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.42857;
    border: none;
    color: #626262;
    padding-top: .625rem;
    padding-bottom: .625rem;
}

.au-side-nav {
    font-family: "GothamBook", "Helvetica", "Arial", "Sans-serif" !important;
}

#sideNavInnerDiv {
    top: -32px;
    position: relative;
    box-shadow: 0 6px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 6px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

#sideNavTitle {
    display: block;
    height: 32px;
    margin-block-end: 0rem
}

#sideNavList {
}

@media (max-width: 767px) {
    .sidebar-first {
        margin-bottom: 1.875rem;
    }
    .sidebar__section {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .au-side-nav {
        box-shadow: 0 0px 12px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.16);
        -webkit-box-shadow: 0 0px 12px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.16);
    }
    .au-side-nav .au-accordion__title {
        font-size: 1.115rem;
    }
    #block-booknavigation {
        position: relative;
        top: -30px
    }
    div#block-booknavigation a.au-side-nav__toggle {
        padding-top: 16px;
        padding-bottom: 16px;
        background: rgb(243, 243, 243);
        font-family: "GothamBold";
        font-weight: bold;
        color: black;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 1.6;
        text-decoration: none
    }
    #sideNavTitle {
        display: none
    }
    #sideNavList {
        position: relative;
        top: 8px;
    }
    section.sidebar__section {
        margin-bottom: -4.4rem;
    }
    #sideNavInnerDiv {
        top: 0px;
        position: relative;
        box-shadow: 0 6px 0px rgba(0,0,0,0.19), 0 6px 0px rgba(0,0,0,0.23);
        -webkit-box-shadow: 0 6px 0px rgba(0,0,0,0.19), 0 6px 0px rgba(0,0,0,0.23);
    }
}

.au-side-nav {
    border-radius: 0px
}

.au-side-nav__content {
    margin: 0 0px;
    margin: 0 0rem;
}


/* Footer Implimentation */
.au-footer.au-footer--dark {
    color: #fff;
    /* footer border colour */
    border-color: rgb(197, 36, 36);
    /* footer container colour */
    background-color: rgb(150, 25, 25)
}

/* Focus Overwrite */
@media (min-width: 1px) {
    a.au-header__brand:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    a.au-header__brand::-moz-focus-inner {
        border: 0
    }
    
    .au-header--dark a.au-header__brand:focus {
        outline: 0px solid #d7153a
    }
    
    .au-header--dark a.au-header__brand::-moz-focus-inner {
        border: 0
    }
    
    .au-body .au-accordion__title:focus,
    .au-accordion__title:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-body .au-accordion__title::-moz-focus-inner,
    .au-accordion__title::-moz-focus-inner {
        border: 0
    }
    
    .au-body .au-accordion__title:focus,
    .au-accordion__title:focus {
        z-index: 100
    }
    
    .au-body.au-body--dark .au-accordion__title:focus,
    .au-accordion.au-accordion--dark .au-accordion__title:focus {
        outline: 0px solid #d7153a
    }
    
    .au-body.au-body--dark .au-accordion__title::-moz-focus-inner,
    .au-accordion.au-accordion--dark .au-accordion__title::-moz-focus-inner {
        border: 0
    }
    
    .au-body a:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-body a::-moz-focus-inner {
        border: 0
    }
    
    .au-body [tabindex="0"]:focus,
    .au-body :target {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-body.au-body--dark a:focus {
        outline: 0px solid #d7153a
    }
    
    .au-body.au-body--dark a::-moz-focus-inner {
        border: 0
    }
    
    .au-body.au-body--dark [tabindex="0"]:focus,
    .au-body.au-body--dark :target {
        outline: 0px solid #d7153a
    }
    
    .au-btn:focus,
    a.au-btn:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-btn::-moz-focus-inner,
    a.au-btn::-moz-focus-inner {
        border: 0
    }
    
    .au-btn:focus,
    a.au-btn:focus {
        border-radius: 0
    }
    
    .au-btn.au-btn--dark:focus,
    a.au-btn.au-btn--dark:focus {
        outline: 0px solid #d7153a
    }
    
    .au-btn.au-btn--dark::-moz-focus-inner,
    a.au-btn.au-btn--dark::-moz-focus-inner {
        border: 0
    }
    
    .au-control-input__input[type=checkbox]:focus+.au-control-input__text:before {
        outline: 0px solid #d7153a;
        outline-offset: 2px;
        outline-offset: 2px
    }
    
    .au-control-input--dark .au-control-input__input[type=checkbox]:focus+.au-control-input__text:before {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-control-input__input[type=radio]:focus+.au-control-input__text:before {
        -webkit-box-shadow: 0 0 0 4px #d7153a;
        box-shadow: 0 0 0 4px #d7153a;
        -webkit-box-shadow: 0 0 0 .25rem #d7153a;
        box-shadow: 0 0 0 .25rem #d7153a
    }
    
    .ie8 .au-control-input__input[type=radio]:focus+.au-control-input__text:before,
    .lt-ie8 .au-control-input__input[type=radio]:focus+.au-control-input__text:before {
        outline: 0px solid #d7153a;
        outline-offset: 2px;
        outline-offset: 2px
    }
    
    .au-control-input--dark .au-control-input__input[type=radio]:focus+.au-control-input__text:before {
        -webkit-box-shadow: 0 0 0 4px #d7153a;
        box-shadow: 0 0 0 4px #d7153a;
        -webkit-box-shadow: 0 0 0 .25rem #d7153a;
        box-shadow: 0 0 0 .25rem #d7153a
    }
    
    .ie8 .au-control-input--dark .au-control-input__input[type=radio]:focus+.au-control-input__text:before,
    .lt-ie8 .au-control-input--dark .au-control-input__input[type=radio]:focus+.au-control-input__text:before {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-cta-link:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-cta-link::-moz-focus-inner {
        border: 0
    }
    
    .au-cta-link.au-cta-link--dark:focus {
        outline: 0px solid #d7153a
    }
    
    .au-cta-link.au-cta-link--dark::-moz-focus-inner {
        border: 0
    }
    
    .au-direction-link:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-direction-link::-moz-focus-inner {
        border: 0
    }
    
    .au-direction-link.au-direction-link--dark:focus {
        outline: 0px solid #d7153a
    }
    
    .au-direction-link.au-direction-link--dark::-moz-focus-inner {
        border: 0
    }
    
    .au-main-nav a:focus,
    .au-main-nav .au-main-nav__toggle:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-main-nav a::-moz-focus-inner,
    .au-main-nav .au-main-nav__toggle::-moz-focus-inner {
        border: 0
    }
    
    .au-main-nav.au-main-nav--dark a:focus,
    .au-main-nav.au-main-nav--dark .au-main-nav__toggle:focus {
        outline: 0px solid #d7153a
    }
    
    .au-main-nav.au-main-nav--dark a::-moz-focus-inner,
    .au-main-nav.au-main-nav--dark .au-main-nav__toggle::-moz-focus-inner {
        border: 0
    }
    
    .au-body .au-progress-indicator__link:focus,
    .au-progress-indicator__link:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-body .au-progress-indicator__link::-moz-focus-inner,
    .au-progress-indicator__link::-moz-focus-inner {
        border: 0
    }
    
    .au-body--dark .au-progress-indicator--dark .au-body .au-progress-indicator__link:focus,
    .au-progress-indicator--dark .au-body .au-progress-indicator__link:focus,
    .au-body--dark .au-progress-indicator--dark .au-progress-indicator__link:focus,
    .au-progress-indicator--dark .au-progress-indicator__link:focus {
        outline: 0px solid #d7153a
    }
    
    .au-body--dark .au-progress-indicator--dark .au-body .au-progress-indicator__link::-moz-focus-inner,
    .au-progress-indicator--dark .au-body .au-progress-indicator__link::-moz-focus-inner,
    .au-body--dark .au-progress-indicator--dark .au-progress-indicator__link::-moz-focus-inner,
    .au-progress-indicator--dark .au-progress-indicator__link::-moz-focus-inner {
        border: 0
    }
    
    .au-select:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-select::-moz-focus-inner {
        border: 0
    }
    
    .au-select:focus {
        border-radius: 0
    }
    
    .au-select.au-select--dark:focus {
        outline: 0px solid #d7153a
    }
    
    .au-select.au-select--dark::-moz-focus-inner {
        border: 0
    }
    
    .au-select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000
    }
    
    .au-side-nav a:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-side-nav a::-moz-focus-inner {
        border: 0
    }
    
    .au-side-nav .au-accordion__title:focus {
        outline-offset: -3px
    }
    
    .au-side-nav.au-side-nav--dark a:focus {
        outline: 0px solid #d7153a
    }
    
    .au-side-nav.au-side-nav--dark a::-moz-focus-inner {
        border: 0
    }
    
    .au-skip-link__link:active,
    .au-skip-link__link:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px;
        top: 16px;
        top: 1rem;
        left: 16px;
        left: 1rem;
        padding: 24px;
        padding: 1.5rem;
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: absolute;
        width: auto;
        color: #fff;
        background-color: #002664;
        text-decoration: underline;
        text-decoration-skip-ink: auto;
        z-index: 600
    }
    
    a.au-tag:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    a.au-tag::-moz-focus-inner {
        border: 0
    }
    
    a.au-tag:focus {
        outline-offset: -1px
    }
    
    a.au-tag.au-tag--dark:focus {
        outline: 0px solid #d7153a
    }
    
    a.au-tag.au-tag--dark::-moz-focus-inner {
        border: 0
    }
    
    .au-tag-list li>.au-tag:focus {
        outline-offset: -1px
    }
    
    .au-text-input:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
    .au-text-input::-moz-focus-inner {
        border: 0
    }
    
    .au-text-input:focus {
        border-radius: 0;
        background-color: #fff
    }
    
    .au-text-input.au-text-input--dark:focus {
        outline: 0px solid #d7153a
    }
    
    .au-text-input.au-text-input--dark::-moz-focus-inner {
        border: 0
    }
    
    a.au-header__brand:focus {
        outline: 0px solid #d7153a;
        outline-offset: 2px
    }
    
}
